<%if (session.logged)  {%>
<%- include("../partials/header.ejs")%>
<%} else {%>
<%- include("../partials/headerLoggedOut.ejs")%>
<%};%>
<ul>
    <%for (i=0; i<10; i++){%>
        <li><a href = "/movies/<%=movies[i]._id%>">#<%=i+1%> <%=movies[i].title%><a></li>
    <%}%>
    </ul>
<%- include("../partials/footer.ejs")%>