<%if (session.logged)  {%>
    <%- include("../partials/header.ejs")%>
    <%} else {%>
    <%- include("../partials/headerLoggedOut.ejs")%>
    <%};%>
    <h1>List of Movie</h1>
    
        <%for(i=0; i<movies.length; i++){%>
            <div>
            <a href="/movies/<%=movies[i]._id%>">
                <%=movies[i].title%>
            </a> 
            <form action="/movies/<%=movies[i]._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Movie">
            </form>
        </div>
        <%}%>
    
<%- include("../../partials/footer.ejs")%>