<%- include("../../partials/header.ejs")%>
    <h1>List of Movie</h1>
    <ul>
        <%for(i=0; i<movies.length; i++){%>
            <a href="/movies/<%=movies[i]._id%>">
                <li><%=movies[i].title%></li>
            </a> <br />
            <form action="/movies/<%=movies[i]._id %>?_method=DELETE" method="POST">
                <input type="submit" value="Delete Movie">
            </form></br>
        <%}%>
    </ul>
<%- include("../../partials/footer.ejs")%>