<%- include("../../partials/header.ejs")%>
   <h1><%= movie.title%></h1>
   <ul>
       <li><%= movie.year%></li>
       <li><%= movie.genre%></li>
   </ul>
   <img src="<%=movie.img%>">
<%- include("../../partials/footer.ejs")%>
