<%if (session.logged)  {%>
  <%- include("../../partials/header.ejs")%>
  <%} else {%>
  <%- include("../../partials/headerLoggedOut.ejs")%>
  <%};%>
    <h1><%= user.userName%> Edit Page</h1>
    <form action="/users/<%=user._id%>?_method=PUT" method="POST">
      <%for(j=0;j<10;j++){%>
        <select name="<%=j%>">
          <%if(!user.topTenMovies[j]){%>
            <option>Choose your movie #<%=j+1%></option>
            <%for (let i = 0; i < movies.length; i++){%>
              <option value="<%=movies[i]._id%>"><%=movies[i].title%></option>
              <%}%>
          <%} else{%>
             <%for (let i = 0; i < movies.length; i++){%>
              <% if (user.topTenMovies[j].toString() === movies[i]._id.toString()) {%>
                 <option value="<%=movies[i]._id%>" selected="selected"><%=movies[i].title%></option>
                 <% }else { %>
                  <option value="<%=movies[i]._id%>"><%=movies[i].title%></option>
              <%}%>
          <%}%>
          <%}%>
        </select><br>
      <%}%>
      <input type="submit" value="Update Top Ten" class="button"/>
    </form>
    <span><%=session.message%></span>
<%- include("../../partials/footer.ejs")%>