<%if (session.logged)  {%>
    <%- include("../../partials/header.ejs")%>
    <%} else {%>
    <%- include("../../partials/headerLoggedOut.ejs")%>
    <%};%>
    <div class="movie-list">
    <h1><%= user.userName%>'s Top Ten</h1>
    <ul class ="movie-list">
        <%for (let i =0; i< user.topTenMovies.length; i++) {%>
            <a href = "/movies/<%=user.topTenMovies[i]._id%>"><li>#<%=i+1%> <%=user.topTenMovies[i].title%></li></a>
        <%}%>
    </ul>
    </div>
    <%if (session.userId == user._id)  {%>  
        <form action="/users/<%=user._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Account" class="button">
        </form>
    <a href="<%=user._id%>/edit"><button class="button">Edit Your Top Ten Movies</button></a>
   

    <%}%>
    

<%- include("../../partials/footer.ejs")%>


