<%if (session.logged)  {%>
    <%- include("../partials/header.ejs")%>
    <%} else {%>
    <%- include("../partials/headerLoggedOut.ejs")%>
    <%};%>
    <h1><%= user.userName%> Show Page</h1>
    <%for (let i =0; i< user.topTenMovies.length; i++) {%>
    <p><%=user.topTenMovies[i].title%></p>
    <%}%>
    <a href="<%=user._id%>/edit"><button>Edit Your Top Ten Movies</button></a>
<%- include("../../partials/footer.ejs")%>